.headerSection {
  width: 1500px;
  height: 150px;
  top: 0%;
  position: fixed;
  background-color: #fff;
}
.headerFirstContainer {
  width: 1200px;
  height: 80px;
  margin: auto;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}
a {
  text-decoration: none;
  color: black;
}
.logo {
  width: 200px;
  height: 80px;
}
.searchSection {
  display: flex;
  width: 50%;
  height: 35px;
  border: 2px #D3D3D3 solid;
}
.srcBTN {
  width: 40px;
  height: 80%;
  margin: 3.5px;
  background-image: url(../images/icons/search-free-icon-font.svg);
  background-repeat: no-repeat;
  background-size: contain;
}
.searchBox {
  width: 100%;
  height: 100%;
  border: none;
  font-size: 20px;
  color: #949494;
}
.regContainer {
  width: 285px;
  height: 100%;
  display: flex;
  align-items: flex-end;
  flex-direction: row;
}
.guest {
  width: 100%;
}
.user {
  width: 100%;
}
.signInBTN {
  display: flex;
  justify-content: center;
  width: 100px;
  height: 35px;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  cursor: pointer;
}
.signInBTN:hover {
  border-bottom: black solid 2px ;
}
.userIcon {
  display: inline-block;
  height: 20px;
  width: 20px;
  margin-top: 7.5px;
  background-image: url(../images/icons/user-free-icon-font.svg);
  background-repeat: no-repeat;
  background-size: contain;
}
.signInBTNtext {
  display: inline-block;
}
.registrationBTN {
  display: flex;
  justify-content: center;
  width: 180px;
  height: 35px;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  cursor: pointer;
}
.registrationIcon {
  display: inline-block;
  height: 20px;
  width: 20px;
  margin-top: 7.5px;
  background-image: url(../images/icons/briefcase-free-icon-font.svg);
  background-repeat: no-repeat;
  background-size: contain;
}
.registrationBTNtext {
  color: #0066c3;
}
.registrationBTN:hover {
  border-bottom: #0066c3 solid 2px;
}
.headerNavigation {
  width: 1500px;
  height: 50px;
}
.navContainer {
  width: 70%;
  height: 100%;
  margin: 20px auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 16px;
}
.navTxtBTN {
  display: inline-block;
}
.navBTN {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navBTN:hover {
  border-bottom: #0066c3 3px solid;
}
